html,
body {
  background-color: #f7f7f7;
}

body > div,
body > div > div,
body > div > div > div.login,
.login-grid {
  height: 100%;
}

.login-column {
  max-width: 650px;
}
.login-column--small {
  max-width: 350px;
}
.login-user-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}